@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

$imgPath: '../../assets/images/main';

// Mobile & Tablet
.travelMain {
  section {
    border-bottom: .8rem solid #f0f4f4;
  }
}

// PC
@media (min-width: $minDesktop) {
  .travelMain {
    max-width: $maxWidth;
    margin: 0 auto;

    section {
      border: 0;
    }
  }
}