@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

$imgPath: '../../assets/images/main';

// PC
.travelMain {
  max-width: $maxWidth;
  margin: 0 auto;
}

// Mobile & Tablet
@media (max-width: $minDesktop) {
  .travelMain {
    padding: 2rem 0;
    border-top: .8rem solid #f0f4f4;

    section {
      border-bottom: .8rem solid #f0f4f4;
    }
  }
}