// Font
$fontPretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Apple SD Gothic Neo', 'Malgun Gothic', system-ui, sans-serif;

// Color
$primary: #4a95ff; // Brand Color

$black: #111;
$white: #fff;

$red: #ff322e;

$blue100: #d0e7ff;
$blue200: #a2cdff;
$blue300: #73afff;
$blue400: #5194ff;
$blue500: #1769ff;

// Layout
$maxWidth: 120rem;
$minWidth: 32rem;
