// Font
$fontPretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Apple SD Gothic Neo', 'Malgun Gothic', system-ui, sans-serif;

// Color
$black: #111;
$white: #fff;

// Layout
$maxWidth: 120rem;
$minWidth: 32rem;
