@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

$imgPath: '../../../../assets/images/main';

// Mobile
.mainBanner {
  padding: 2rem 0;
  border-top: .8rem solid #f0f4f4;

  .swiper {
    padding: 0 2rem;
  }

  .swiper-slide {
    overflow: hidden;
    border-radius: 1.2rem;
  }

  .swiper-pagination {
    @include flexCenter;

    &-bullet {
      width: .6rem;
      height: .6rem;
      background-color: $white;
      border: .1rem solid #e5e5e5;
      opacity: .6;

      &-active {
        width: .8rem;
        height: .8rem;
        opacity: 1;
      }
    }
  }

  .swiperBtn {
    display: none;
  }
}

// Tablet
@media (min-width: $minTablet) {
  .mainBanner {
    .swiper-slide {
      width: 33.5rem;
    }

    .swiper-pagination {
      display: none;
    }
  }
}

// PC
@media (min-width: $minDesktop) {
  .mainBanner {
    padding: 4rem 0 5rem;
    border-top: 0;

    .swiper {
      padding: 0;
    }

    .banner {
      position: relative;
    }

    .swiper-slide {
      border-radius: 1.6rem;
    }

    .swiperBtn {
      display: block;
    }
  }
}
