@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


html {
  font-size: 62.5%;
}

body {
  font-family: $fontPretendard;
  font-size: 1.3rem;
  line-height: 1.2;
  color: $black;
  background: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

.blind {
  @include blind
}

.layout {
  min-width: $minWidth;
}

body.scrollLock {
  overflow: hidden;
}